<div class="navbar">
    <div class="left-column">
        <a href="index.html"><img src="img/top-logo.png" alt="Logo" class="top-logo"></a>
    </div>
    <div class="right-column">
        <button class="menu-toggle">☰</button>
        <div class="dropdown-menu">
            <a class="label-link" href="textil.html">Textil</a>
            <a class="label-link" href="fa.html">Fa</a>
            <a class="label-link disabled" href="papir.html">Papír</a>
            <a class="label-link" href="uveg.html">Üveg</a>
            <a class="label-link" href="uveg-sziget.html">Üveg szelektív szigetek</a>
            <a class="label-link disabled" href="hso.html">HSO</a>
        </div>
    </div>
</div>